
<div class="jumbotron mt-4">
    <h1 class="display-4"> CrudDeTO</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquid error voluptatem odit amet eos!</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur in soluta sed corporis, odit culpa autem magni ex temporibus itaque!</p>
</div>

