{{#if error}}
<div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <i class='bx bx-x'></i>
    </button>
</div>
{{/if}}
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between" role="alert">
    {{text}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <i class='bx bx-x'></i>
    </button>
</div>
{{/each}}